body{
    background-color:#162335;
    height: 550px;
    width: 550px;
    left: 62px;
    top: 64px;
    border-radius: 0px;
}
.upper{
    height:140px;
    /* border: white solid; */
    position: absolute;
    margin-left:10%;
    margin-top:4%;
}
.main{
    position:relative;
    margin-top:10px;
    color:white;
    line-height: 10px;
}
.highlighted{
    color: #10B981;;
    position: relative;
    line-height: 10px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:260%;
}
p{
    font-family:'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size:130%;
    color:white;

}
#btn{
    background: #10B981;
    height: 39px;
    width: 223px;
    margin-left: 45%;
    top: 240px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 9px 17px 9px 15px;
    position: absolute;
    /* box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,none 0 -3px 0 inset; */
    border-radius: 6px;
    color:white;
    cursor:pointer;
    /* box-shadow: black; */
    box-sizing: border-box;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
}
svg{
    background: #10B981;
    padding-left:0px;
    padding-right:30px;
    margin-top:5px;
    margin-bottom:5px;
}
#btn:focus {
    box-shadow: rgb(21, 218, 126) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(21, 218, 126) 0 -3px 0 inset;
}

#btn:hover {
    box-shadow: rgb(21, 218, 126)(45, 35, 66, 0.4) 0 4px 8px, rgb(21, 218, 126)(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(21, 218, 126) 0 -3px 0 inset;
    transform: translateY(-2px);
}

#btn:active {
    box-shadow: rgb(21, 218, 126) 0 3px 7px inset;
    transform: translateY(2px);
}
.take-length{
    position: absolute;
    margin: 14% 0% 0px 10%;
}
#p-el{
    font-size:small;
}
#length{
    color:#FFFFFF;
    background-color: #273549;
    position: absolute;
    border:none;
    border-radius:4px;
    font-size:100%;
    padding:4px;
}
.line{
    position: relative;
    width: 846px;
    height: 0px;

    margin-left: 25%;
    top: 300px;
    border: 1px solid #2F3E53;
}

.lower{
    height: 270px;
    width:600px;
    margin-top:300px;
    margin-left:10%;
    /* border:solid white; */
    position: absolute;
    color:#10B981;
}

#card1{
    margin-top:50px;
    margin-left:0px;
    height:30px;
    width:200px;
    background:#273549;
    position: absolute;
    /* border:white solid; */
    border-radius:6px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#card2{
    margin-top:150px;
    margin-left:0px;
    height:30px;
    width:200px;
    background:#273549;
    position: absolute;
    /* border:white solid; */
    border-radius:6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card3{
    margin-top:50px;
    margin-left:275px;
    height:30px;
    width:200px;
    background:#273549;
    position: absolute;
    border-radius:6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card4{
    margin-top:150px;
    margin-left:275px;
    height:30px;
    width:200px;
    background:#273549;
    position: absolute;

    border-radius:6px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.copy-btn{
    padding:5px;
    background:#10B981;
    color: #fff ;
    font-size:12px;
    border:none;
    outline:none;
    cursor: pointer;
    border-radius:7px;
    cursor:pointer;
}
.copy-btn:active{
    background: #3edfa9;
}
.copy-btn:before{
    content:"Copied";
    position:absolute;
    background: #3edfa9;
    background-color: #3edfa9;
    padding:4px 6px;
    border-radius:10px;
    top:-28px;
    left:-12px;
    display:none;


}
.copy-btn:after{
    content:"";
    position: absolute;
    background: #3edfa9;
    transform: rotate(45deg);
    display:none;

}
.copy-btn.active button:before,
.copy-btn.active button:after{

    display:none;

}
#copy-btn1{
    position: absolute;
    margin-top:53px;
    margin-left:175px;
}
#copy-btn2{
    position: absolute;
    margin-top:153px;
    margin-left:175px;
}
#copy-btn3{
    position: absolute;
    margin-top:53px;
    margin-left:450px;
}
#copy-btn4{
    position: absolute;
    margin-top:153px;
    margin-left:450px;

}